.brands{
    .col-5{
        width: 160px;
        img{
            width: 100%;
            cursor: pointer;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            &:hover{
                filter: grayscale(0);
                -webkit-filter: grayscale(0);
}
}
    }
}