.offer {
  background: radial-gradient(#fff, #efedfe);
  padding: 50px 0;
  .offer__img {
    padding: 50px;
    width: 100%;
  }
  h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  small {
    color: #555;
  }
  a {
  }
}
